{% extends 'base/base.html' %}
{% block content %}

		<div id="contact-form">
			
			<div id ="texto" class="texto">
				
				<h4>Dejame tu mensaje!</h4>
	            <h4><i style="margin-right:5px;" class="fa fa-phone" aria-hidden="true"></i> 15-6642-8131</h4>
	            <h4><i style="margin-right:5px;" class="fa fa-envelope" aria-hidden="true"></i> fiorellagiuntiph@gmail.com</h4>

			</div>

			<form method="post">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <div class="form-actions">
			      <button type="submit">Enviar</button>
			    </div>
			</form>
        </div>

{% endblock %}


{% block js %}

	<script>

		    $( document ).ready(function() {
		     $('#menu_2').addClass("menu__item--current ");
		    });

			function myFunction() {
			    var x = document.getElementById("myTopnav");
			    if (x.className === "topnav") {
			        x.className += " responsive";
			    } else {
			        x.className = "topnav";
			    }
			}

	</script>

{% endblock %}