{% extends 'base/base.html' %}

{% block content %}

<div class="stack-slider">
	<div class="stacks-wrapper">
		<div class="stack">

			<h2 class="stack-title"><a data-text="Eventos"><span>Eventos</span></a></h2>

			{% for evento in Eventos %}
				<div class="item">
					<div class="item__content">
						<img src=" {{ evento.archivo }} " alt="img01" />
						<h3 class="item__title">{{ evento.titulo }}<span class="item__date">{{ evento.fecha_subida }}</span></h3>
						<div class="item__details">
							<ul>
								<li><i class="icon icon-camera"></i><span>{{ evento.Modelo }}</span></li>
								<li><i class="icon icon-focal_length"></i><span>{{ evento.Lente }}</span></li>
								<li><i class="icon icon-aperture"></i><span>{{ evento.Apertura }}</span></li>
								<li><i class="icon icon-exposure_time"></i><span>{{ evento.Velocidad }}</span></li>
								<li><i class="icon icon-iso"></i><span>{{ evento.Iso }}</span></li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<div class="stack">
			<h2 class="stack-title"><a data-text="Books"><span>Books</span></a></h2>

			{% for book in Books %}

				<div class="item">
					<div class="item__content">
						<img src=" {{ book.archivo }} " alt="img01" />
						<h3 class="item__title">{{ book.titulo }}<span class="item__date">{{ book.fecha_subida }}</span></h3>
						<div class="item__details">
							<ul>
								<li><i class="icon icon-camera"></i><span>{{ book.Modelo }}</span></li>
								<li><i class="icon icon-focal_length"></i><span>{{ book.Lente }}</span></li>
								<li><i class="icon icon-aperture"></i><span>{{ book.Apertura }}</span></li>
								<li><i class="icon icon-exposure_time"></i><span>{{ book.Velocidad }}</span></li>
								<li><i class="icon icon-iso"></i><span>{{ book.Iso }}</span></li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<div class="stack">
			<h2 class="stack-title"><a data-text="Miscellaneous"><span>Miscellaneous</span></a></h2>

			{% for Mis in Miscel %}
				
				<div class="item">
					<div class="item__content">
						<img src=" {{ Mis.archivo }} " alt="img01" />
						<h3 class="item__title">{{ Mis.titulo }}<span class="item__date">{{ Mis.fecha_subida }}</span></h3>
						<div class="item__details">
							<ul>
								<li><i class="icon icon-camera"></i><span>{{ Mis.Modelo }}</span></li>
								<li><i class="icon icon-focal_length"></i><span>{{ Mis.Lente }}</span></li>
								<li><i class="icon icon-aperture"></i><span>{{ Mis.Apertura }}</span></li>
								<li><i class="icon icon-exposure_time"></i><span>{{ Mis.Velocidad }}</span></li>
								<li><i class="icon icon-iso"></i><span>{{ Mis.Iso }}</span></li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


		<div class="stack">
			<h2 class="stack-title"><a data-text="Infantiles"><span>Infantiles</span></a></h2>
			{% for Infan in Infantiles %}
				
				<div class="item">
					<div class="item__content">
						<img src=" {{ Infan.archivo }} " alt="img01" />
						<h3 class="item__title">{{ Infan.titulo }}<span class="item__date">{{ Infan.fecha_subida }}</span></h3>
						<div class="item__details">
							<ul>
								<li><i class="icon icon-camera"></i><span>{{ Infan.Modelo }}</span></li>
								<li><i class="icon icon-focal_length"></i><span>{{ Infan.Lente }}</span></li>
								<li><i class="icon icon-aperture"></i><span>{{ Infan.Apertura }}</span></li>
								<li><i class="icon icon-exposure_time"></i><span>{{ Infan.Velocidad }}</span></li>
								<li><i class="icon icon-iso"></i><span>{{ Infan.Iso }}</span></li>
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
	<!-- /stacks-wrapper -->
</div>

{% endblock %}

{% block js %}

	<script>

	    $( document ).ready(function() {
	     $('#menu_1').addClass("menu__item--current ");
	    });


		function myFunction() {
		    var x = document.getElementById("myTopnav");
		    if (x.className === "topnav") {
		        x.className += " responsive";
		    } else {
		        x.className = "topnav";
		    }
		}


	</script>
	
{% endblock %}